# OS junk files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Node / build files
node_modules/
npm-debug.log
yarn-error.log
*.log

# Build output
dist/
build/

# Composer dependencies
vendor/
composer.lock

# Sass cache
.sass-cache/

# Zip archives
*.zip

# Ignore environment files
.env
.env.*

